FROM python:3.11-bookworm

COPY etc /etc
COPY . /opt
COPY etc/resolv.conf /etc/resolv.conf.override
COPY start-wlpd.sh /start-wlpd.sh

WORKDIR /opt
RUN pip install --upgrade pip
RUN make install
WORKDIR /

LABEL maintainer=__MAINTAINER__
LABEL image_status=__STATUS__

CMD [ "sh", "/start-wlpd.sh" ]
